@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&family=Hind:wght@300;400;500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Averia Serif Libre", cursive;
}

p {
  line-height: 1.4;
  font-family: "Hind", sans-serif;
}

.staged {
  display: inline !important;
  color: rgb(37, 131, 37) !important;
}

.unstaged {
  display: inline !important;
  color: rgb(237, 71, 71) !important;
}

span {
  font-family: monospace;
}

.current {
  border-bottom: 4px solid red;
}

$small: 12px;
$medium: 15px;
$big: 26px;
$large: 32px;

$bg-primary: rgb(19, 21, 20);
$bg-secondary: rgb(30, 33, 32);
$text-lighter: #f5f5f5;
$text-light: rgb(208, 208, 208);
$text-dark: rgb(106, 106, 106);

@mixin transitionFast {
  transition: all 0.1s ease;
}

@mixin transitionSlow {
  transition: all 1s ease;
}

@mixin transitionEffect {
  transition: all 0.3s ease;
}

@mixin flex($dir, $align, $justify, $wrap) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
}

@mixin grid($col, $gap) {
  display: grid;
  grid-template-columns: $col;
  gap: $gap;
}
